<!-- <p>{{ greeting }}</p>
<div>{{ currentTime }}</div>

<div><button (click)="goodBye()">Good bye!</button></div>

<input type="text" [(ngModel)]="message" />

<ng-container *ngIf="selectedMessage">
  <button (click)="updateMessage()">Update Message</button>
  <button (click)="deleteMessage()">Delete Message</button>
</ng-container>
<ng-container *ngIf="!selectedMessage">
  <button (click)="sendMessage()">Send Message</button>
</ng-container>
<div
  *ngFor="let messageIter of messages; let $index = index"
  (click)="toggleSelectedMessage(messageIter)"
  [class.selected]="messageIter.id === selectedMessage?.id"
>
  {{ messageIter.content }}
</div> -->
<div>GRAPHQL IS AWESOME</div>
